body {
    background-color: #bff6f9;
}

div#interface {
    width: 1500px;
    background-color: lightgoldenrodyellow;
    margin: -35px auto 0px auto;
    padding: 10px 10px 10px 10px;
}

h1 {
    font-family: 'Times New Roman';
    text-align: center;
    color: dimgray;
    font-size: 200%;

}
h2 {
    font-family: 'Lucida Sans';
    
}

h3 {
    font-family: 'Lucida Sans Unicode';
    text-align: center;
    
}

p {
    font-family: 'Lucida Sans';
    text-align: justify;
    text-indent: 50px;
    
}

figure.inicio {
    position: relative;
    left: 680px; 
    top: 20px;

}


/* Formatação do Menu*/

nav#menu {
    display: block;
}

nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: 45px;
    left: 990px;

}

nav#menu li{
    display: inline-block;
    background-color:#dddddd;
    padding: 10px;
    margin: 2px;
    transition: background-color 1s;
}

nav#menu li:hover {
    background: #606060
}

nav#menu a{
    color: #000000;
    text-decoration: none;
}

nav#menu a:hover{
    color:#ffffff;
    text-decoration: none;
}

nav#menu h3 {
    display: none;
}